
.button_blue{
	background: #008CBA;
}
.button_red{
	background: red;
}
.button_green{
	background: #2baf2b;
}
.bg_blue {
	background: #91dcd6;
}
.bg_red{
	background: #de5148;
}

.file-upload input[type="file"]{

	display: none;/* скрываем input file */

}
img{
	border-radius: 7px;
}
/* задаем стили кнопки выбора файла*/

.file-upload {
	position: relative;
	overflow: hidden;
	width: 60%;
	height: 40px;
	background: #4169E1;
	border-radius: 7px;
	color: #fff;
	text-align: center;
	margin: auto;
}

.file-upload:hover {
	background: #1E90FF;
}

/* Растягиваем label на всю область блока .file-upload */
.file-upload label {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

/* стиль текста на кнопке*/
.file-upload span {
	line-height: 40px;
	font-weight:bold;
}

a{
	text-decoration: none;
	color: #FFF;
	display: block;
}

*{
	box-sizing: border-box;
}
body{
	background: url('../../background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Vollkorn SC', serif;
	font-size: 16px;
	position: relative;
	z-index: 5;
}
.margin_auto_flex{
	display: flex;
	width: 100vw;
	height: 100vh;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-content: center;
	align-content: center;
}
section{
	padding: 0.5em 1em;
	height: 30vh;
}
.section_table{
	height: 70vh;
}
svg{
	cursor: pointer;
}
main{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	position: relative;
	z-index: 5;
}
/*Стили игры*/
.table{
	width: 75vw;
	height: inherit;
	position: relative;
	margin: 0 auto;
}
.row_table{
	width: initial;
	min-height: calc(65vh / 6);
	
	margin: 5px;
	display: flex;
	justify-content: space-around;
	border-radius: 5px;
}
.row_table > div{
	border-radius: 7px;
	transition: all 0.2s ease;
}
.subject{
	width: calc(100% - 75%);
	background: #de5148;
}
.question{
	width: calc(75% / 5);
	background: #e49a95;
}
.hideQuestion{
	width: calc(75% / 5);
	background: #de5148;
	cursor: default;

}
.row_table > .subject:hover{
	cursor: pointer;
}

.row_table > .question:hover{
	background: #de5148;
	cursor: pointer;

}
.row_table > .subject, .question, .hideQuestion{
	margin: 5px;
	color: #fff;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center
}
.player_stats{
	width: 75vw;
	height: 100%;
	position: relative;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items:stretch;
}
.player_stats > div{
	
	display: flow-root;
	margin: auto 0;
	width: max-content;
}
.player_info {
	
}
.image > img{
	display: block;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin: 0 auto;
}
.game_info{
	width: 10vw;
}
.other_information_player{
	display: block;
	padding: 3px 5px;
	text-align: center;
	font-size: 20px;
	margin: 0;
	font-weight: 900;
	color: #084a44;	
	width: 135px
}
.other_information_player > span{

}
.setting_game{
	margin-bottom: 5%; 
}
.button_setting{
	display: block;
	width: 100%;
	padding: 15px 20px;
	border-radius: 7px;
	color: #fff;
	text-align: center;
	margin: 15px auto;
	cursor: pointer;
	outline: none;
	border: none;
}
.label_text::after{
	content: 'Пауза';
}
#pauseGame, #answer_plauer_1, #answer_plauer_2, #answer_plauer_3{
	display: none;
}
#pauseGame:checked ~ label{
	background-color: #2baf2b;
}
#pauseGame:checked ~ .label_text::after{
	content: 'Старт';
}
.dialog_window{
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 5555;
	background-color: rgba(0, 0, 0, 0.7);
	cursor: default;
	//transition: all 0.6s;
	display: none;
	justify-content: center;
	align-items: center;

}
.container_dialog{
	width: 80%;
	//height: 80%;
	background-color: #fff;
	border-radius: 7px;
	position: relative;
	padding: 0 2px;
}
.answer_plauers{
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: -115px;
	width: 250px;
	height: auto;
	border: 1px solid orange;
	padding: 50px 15px 15px;
	background: #FFF;
	z-index: 4444;
	display: none;
	border-radius: 7px;
}
.answer_plauers > input{
	width: 100%;
	margin-bottom: 10px;
}
.close_container_dialog{
	position: absolute;
	top:4px;
	right: 4px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.close_container_dialog > svg{
	display: block;
	width: 100%;
	height: auto;

}
.image_container_dialog{
	width: 100%;
	max-height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;

}
.image_container_dialog > img{
	display: block;
	width: 427px;
	max-height: 350px;

}
.music_container_dialog{
	width: 100%;
	max-height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.header_container_dialog{
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	font-size: 20px;
	border-bottom:  solid 2px rgb(47, 158, 154);
}
.content_container_dialog{
	width: 100%;
	height:  600px;
	border-bottom:  solid 2px rgb(47, 158, 154);
	overflow-y: scroll;

}
.answers_players{
	padding: 15px;
}
.answers_players > .player_stats > .player_info > .image > img{
	display: block;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin: 0 auto;
}
.text{
	display: block;
	padding: 2em 5em;
	text-align: justify;
	font-size: 1.2em;

}


.answer_plaue_:checked ~ label{
	//background-color: #ff9800;
}
@media screen and (max-width: 1600px) and (max-height:800px)
{
	.content_container_dialog{
		height: 350px;
	}	
	.image_container_dialog > img{
		width: 360px;
		max-height: 350px;
	}
	.text{
		font-size: 1.1em;
	}
	.button_setting{
		padding: 10px 20px;	
	}
	.table{
		width: 80%;
	}
	.row_table > .subject, .question, .hideQuestion{
		padding: 5px;
		font-size: 14px;
	}
	.image > img{
		
	}
	.player_stats > div{
		font-size: 12px;
	}
	section{
		padding: 0;
	}
}
/*Конец стилей игры*/

/*Стили dashboard*/
.dashboard{
	width: 90vw;
	height: 100vh;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	align-items:stretch;
	background: #fff;
}
.select_bar{
	width: 15vw;
	height: 100%;
	background: #646e82;
	padding: 0;
}
.logo > a{
	display: block;
	padding: 15px;
	color: #FFF;
	font-size: 1.8em;
	text-align: center;
	background: #4F5A6E;	
}
.setting{
	
}
.select_setting, .select_setting_sample{
	cursor: pointer;
}
.select_setting:hover{
	background: #747e92;
}
.select_setting > label{
	display: block;
	color: #FFF;
	
}
.select_setting > label > a{
	width: 35%;
	padding: 15px !important;
}
.select_setting > label::hover{
	background: #747e92;
}
.select_setting > span >a {
	display: block;
	color: #FFF;
	padding: 15px;	
}
.select_setting_sample >span{
	display: block;
	color: #FFF;
	padding: 15px 25px;	
}
.select_setting_sample{
	display: none;
}
.select_setting_sample  > span:hover{
	background: #646e82;
}
#open_select_sample{
	display: none;
}
#open_select_sample:checked ~ .select_setting_sample{
	display: block;
}
.content_dashboard{
	width: 85vw;
	height: 100%;
	overflow-y: scroll;
	padding: 1.5em;
	word-wrap:break-word;
}
.header_content_dashboard{
	width: 100%;
	padding: 15px 5px;
	border-bottom: solid 1px rgb(116, 208, 202);
}
.content{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.content > div{
	width: 30%;
	margin: 15px;
	height: 650px;
	border-radius: 7px;
}

.subject_content{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 1.5em;
	padding: 15px;
	text-align: center
}
.form_subject{
	width: 100%;
	max-height: 300px;
	resize: none;
	text-align: center;
	border:none;
	outline: none;
	background: #de5148;
	color: #fff;
}
.question_content{
	border:solid 1px #de514887;
}
.question_content  > div{
	margin: 10px 0; 
	min-height: 40px;
}
.question_content > form > div{
	margin: 10px 0; 
	min-height: 40px;
}

.rez_images{
	display: block;
	max-width: 60%;
	max-height:160px;
	margin:  0 auto; 
}

.image_content{
	width: 100%;
	height: 170px;
}
.image_upload_content{
	width: 100%;
	text-align: center;
}
.audio_content{
	text-align: center;
}
.text_content > textarea{
	display: block;
	width: 95%;
	height: 120px;
	resize: none;
	margin: 0 auto;
	padding: 10px;
}
.answer_content{
	padding: 0 10px;
}
.answer_content > input[type='text']{
	display: block;
	width: 100%;
	padding: 10px 7px;
}
.content > .users_setting{
	width: 20%;
}

.user_setting{

}
.user_setting > span, input{
	display: inline-block;
	margin-bottom: 10px; 
	margin-right: 10px;
}
.user_setting > span, input[type='text']{
	width: 100%;
}
.input_text{
	padding: 10px 15px;
}
.help{
	text-align: center;
	color: #000;
}
.help:hover{
	color: #de5148;
}
@media screen and (max-width: 1260px)
{
	.content > div{
		width: 45%;
	}

}

@media screen and (max-width: 920px)
{
	.content > div{
		width: 80%;
	}

}

/*Конец стилейСтили dashboard dashboard*/

::-webkit-scrollbar { width: 5px; height: 3px;}
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}}
::-webkit-resizer { background-color: #666;}