.button_blue {
	background: #008CBA;
}

.button_red {
	background: red;
}

.button_green {
	background: #2baf2b;
}

.bg_blue {
	background: #91dcd6;
}

.bg_red {
	background: #de5148;
}

.line_bottom_grey {
	border-bottom: solid 1px #747e9269;
}

a {
	text-decoration: none;
	color: #FFF;
	display: block;
}

html,
body,
.main-unit {
	min-width: 1000px;
	min-height: 600px;
	width: 100%;
	height: 100%;
}

body {
	background: url('../../img/default/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Vollkorn SC', serif;
	font-size: 16px;
	position: relative;
	z-index: 5;
}

.alert-info-opacity {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 400;
	background: rgba(0, 0, 0, 0.7);
	display: none;
}

.alert-info {
	position: absolute;
	z-index: 600;
	width: 550px;
	height: 350px;
	background: #fff;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 15px;
	overflow: hidden;
}

.info-title {
	padding: 12px 30px;
	color: #fff;
	text-align: center;
	font-size: 25px;
}

.alert-error {
	background: #e2525c;
}

.alert-information {
	background: #4caf50;
}

.info-text {
	display: block;
	padding: 20px 40px;
	font-size: 25px;
	text-align: center
}

.main-unit {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
}

.block-questions,
.block-players {
	min-width: 900px;
	width: 80%;
	padding: 5px;
}

.alert-question-opacity {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 15;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	opacity: 0;
}

.alert-question {
	position: absolute;
	width: 90%;
	height: 90%;
	background: #fff;
	z-index: 35;
	border-radius: 15px;
}

.questions-subject {
	width: calc(100% - 42px);
	padding: 10px;
	height: 45px;
	text-align: center;
}

.question-close {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px;
	cursor: pointer;
}

.questions-playing-field {
	width: 100%;
	height: calc(100% - 45px);
	display: flex;
}

.playing-field-questions,
.playing-field-tips {
	height: 100%;
}

.playing-field-questions {
	width: 30%;
	border-right: solid 1px #747e9269;

}

.playing-field-tips {
	width: 70%;
	display: flex;
	flex-wrap: wrap;
}

.tips-answers,
.tips-help,
.tips-controls {
	width: 100%;
	padding: 25px;
}

.tips-answers {
	height: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tips-answers>.answer {
	width: 23%;
	height: 170px;
	text-align: center;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
	border: 1px solid #dfe1e5;
	border-radius: 7px;
	cursor: pointer;
	word-wrap: break-word;
	padding: 10px;
	font-size: 15px;
	transition: ease .3s;
	position: relative;
}

.answer-letter {
	position: absolute;
	bottom: -30px;
	left: 50%;
	translate: (-50%, 0);
	font-size: 18px;
	font-weight: 900
}

.tips-answers>.answer:hover,
.tips-help>.help:hover {
	box-shadow: 0 3px 10px 0 rgba(32, 33, 36, 0.38);

}

.tips-help {
	height: 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tips-help>.help {
	width: 45%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
	border-radius: 7px;
	cursor: pointer;
	padding: 10px;
	font-size: 25px;
	transition: ease .3s;
	color: #fff;
	background: #4caf50;
}

.tips-controls {
	height: 40%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.tips-controls-player {
	display: flex;
	width: 70%;
	justify-content: space-between;
	align-items: flex-start;
	padding: 10px;
}

.tips-controls-info {
	display: flex;
	width: 30%;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.questions-field-q {
	width: 100%;
	height: calc(100% - 50px);
	overflow: hidden;
	overflow-y: scroll;
	word-wrap: break-word;
	padding: 15px 10px;
	display: flex;
	flex-direction: column;
	align-items: center
}

.questions-field-q>div {
	margin: 10px 0;
}

.q-schedule {
	width: 100%;
	display: none;
}

.schedule {
	width: 100%;
	height: 250px;
	display: flex;
	justify-content: space-around;
}

.schedule-q {
	width: 18%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding: 5px;
}

.q-colum {
	width: 100%;
	height: 25%;
	border-radius: 10px 10px 0 0;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center
}

.q-colum>span {
	display: block;
	transform: rotate(-45deg)
}

.schedule-q:nth-child(1)>.q-colum {
	background: #001871;
}

.schedule-q:nth-child(2)>.q-colum {
	background: #ff585d;
}

.schedule-q:nth-child(3)>.q-colum {
	background: #ffb549;
}

.schedule-q:nth-child(4)>.q-colum {
	background: #41b6e6;
}

.q-letter {
	width: 100%;
	height: 20px;
	text-align: center;
	padding: 5px;
}

.q-img {
	width: 100%;
	height: auto;
}

.q-audio {
	width: 100%;
	height: 60px;
}

.q-audio>audio {
	width: 100%;
}

.q-img>img {
	display: block;
	width: 100%;
	height: 100%;
}

.q-text {
	text-align: justify;
	padding: 15px;
}

.q-text>p {
	margin-bottom: 10px;
	text-indent: 20px;
}

.block-questions {
	height: 70%;
}

.block-players {
	height: 30%;
}

.questions-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.round-question {
	height: 60px;
	border-radius: 12px;
	margin: 5px;
	color: #fff;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center
}

.subject {
	width: 25%;
	background: #de5148;
}

.question {
	cursor: pointer;
	width: 15%;
	transition: ease .5s;
	background: #e49a95;
}

.question:hover {
	background: #de5148;
}

.block-players {
	display: flex;
	justify-content: space-around;
}

.players-score,
.game-control {
	height: 100%;
	padding: 20px;
}

.players-score {
	width: 65%;
	display: flex;
	justify-content: space-between
}

.block-score,
.game-control,
.control-button {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center
}

.block-score {
	padding: 10px;
	border-radius: 7px;
}

.player-name,
.player-score,
.control-raund,
.control-timer>span,
.questions-subject, .player-help {
	font-size: 20px;
	font-weight: 900;
	color: #084a44;
}

.player-help > span{
	display: block;
	float: left;
	width: 50%;
	padding: 10px;
	color: #fff;
	text-align: center;
	background: #4caf50;
	font-size: 15px;
}
.control-help {
	display: block;
	color: #fff;
	text-align: center;
}

.button-main {
	width: 150px;
	border: none;
	padding: 10px 15px;
	margin: 5px 0;
	color: #fff;
	font-size: 15px;
	font-weight: 800;
	border-radius: 15px;
	cursor: pointer;
}

.button-main:focus {
	outline: none;
}

.game-control {
	width: 35%;
}

.selected-answer {
	background: #f44336 !important;
	color: #fff;
	position: relative;
	cursor: inherit;
}
.correct-answer{
	background: #4caf50 !important;
	color: #fff;
	position: relative;
}

.tips-controls-player>.select-player {
	border: solid 1px #008CBA;
	border-radius: 7px;
	cursor: pointer;
	transition: ease .3s;
	position: relative;
}

.tips-controls-player>.select-player:hover::after {
	content: "Выбрать";
	color: #fff;
	background: #008CBA;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block >.player-name, .block >
.player-score
 {
	color: #fff;
	fill: #fff;
}
.select >.player-name,.select >
.player-score
 {
	color: #fff;
	fill: #fff;
}
.block > .player-icon > span > svg{
	color: #fff;
	fill: #fff;
}
.select > .player-icon > span > svg{
	color: #fff;
	fill: #fff;
}

.block {
	background: red !important;
}

.select {
	background: #008CBA !important;
}





@media screen and (min-height: 850px) {
	.round-question {
		height: 85px;
	}

}

::-webkit-scrollbar {
	width: 5px;
	height: 3px;
}

::-webkit-scrollbar-track {
	background-color: #999;
}

::-webkit-scrollbar-track-piece {
	background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
	height: 50px;
	background-color: #666;
	border-radius: 3px;
}

::-webkit-scrollbar-corner {
	background-color: #999;
}

::-webkit-resizer {
	background-color: #666;
}